.DS_Store
Build
DerivedData
xcuserdata
Implementation.plist
version.plist
*.pyc
*~
OpenTreeMap/Choices.plist
OpenTreeMap/OpenTreeMap-Info.plist

OpenTreeMap/Default*.png
OpenTreeMap/Icon*.png
OpenTreeMap/Setting*.png
OpenTreeMap/Spotlight*.png
OpenTreeMap/iTunes*.png
