<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<array>
		<dict>
			<key>key</key>
			<string>1</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Watered</string>
		</dict>
		<dict>
			<key>key</key>
			<string>2</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Pruned</string>
		</dict>
		<dict>
			<key>key</key>
			<string>3</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Fruit or Nuts Harvested</string>
		</dict>
		<dict>
			<key>key</key>
			<string>4</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Removed</string>
		</dict>
		<dict>
			<key>key</key>
			<string>5</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Inspected</string>
		</dict>
	</array>
	<key>alert</key>
	<array>
		<dict>
			<key>key</key>
			<string>1</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Needs Watering</string>
		</dict>
		<dict>
			<key>key</key>
			<string>2</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Needs Pruning</string>
		</dict>
		<dict>
			<key>key</key>
			<string>3</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Should Be Removed</string>
		</dict>
		<dict>
			<key>key</key>
			<string>4</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Pest or Disease present</string>
		</dict>
		<dict>
			<key>key</key>
			<string>5</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Guard Should be Removed</string>
		</dict>
		<dict>
			<key>key</key>
			<string>6</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Stakes and Ties Should be Removed</string>
		</dict>
		<dict>
			<key>key</key>
			<string>7</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Construction Work in the Area</string>
		</dict>
		<dict>
			<key>key</key>
			<string>8</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Touching Wires</string>
		</dict>
		<dict>
			<key>key</key>
			<string>9</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Blocking Signs or Traffic Signals</string>
		</dict>
		<dict>
			<key>key</key>
			<string>10</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Improperly Pruned or Topped</string>
		</dict>
	</array>
	<key>bool_set</key>
	<array>
		<dict>
			<key>key</key>
			<string>True</string>
			<key>type</key>
			<string>bool</string>
			<key>value</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>key</key>
			<string>False</string>
			<key>type</key>
			<string>bool</string>
			<key>value</key>
			<string>No</string>
		</dict>
	</array>
	<key>canopy_condition</key>
	<array>
		<dict>
			<key>key</key>
			<string>2</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Small Gaps (up to 25% missing)</string>
		</dict>
		<dict>
			<key>key</key>
			<string>1</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Full - No Gaps</string>
		</dict>
		<dict>
			<key>key</key>
			<string>3</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Moderate Gaps (up to 50% missing)</string>
		</dict>
		<dict>
			<key>key</key>
			<string>4</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Large Gaps (up to 75% missing)</string>
		</dict>
		<dict>
			<key>key</key>
			<string>5</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Little or None (up to 100% missing)</string>
		</dict>
	</array>
	<key>condition</key>
	<array>
		<dict>
			<key>key</key>
			<string>1</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Dead</string>
		</dict>
		<dict>
			<key>key</key>
			<string>2</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Critical</string>
		</dict>
		<dict>
			<key>key</key>
			<string>3</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Poor</string>
		</dict>
		<dict>
			<key>key</key>
			<string>4</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Fair</string>
		</dict>
		<dict>
			<key>key</key>
			<string>5</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Good</string>
		</dict>
		<dict>
			<key>key</key>
			<string>6</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Very Good</string>
		</dict>
		<dict>
			<key>key</key>
			<string>7</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Excellent</string>
		</dict>
	</array>
	<key>factoid</key>
	<array>
		<dict>
			<key>key</key>
			<string>2</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Interesting Quote</string>
		</dict>
		<dict>
			<key>key</key>
			<string>3</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>How You Can Help</string>
		</dict>
		<dict>
			<key>key</key>
			<string>4</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Editing</string>
		</dict>
		<dict>
			<key>key</key>
			<string>5</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Interesting Fact</string>
		</dict>
		<dict>
			<key>key</key>
			<string>1</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>General</string>
		</dict>
	</array>
	<key>local</key>
	<array>
		<dict>
			<key>key</key>
			<string>1</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Landmark Tree</string>
		</dict>
		<dict>
			<key>key</key>
			<string>2</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Local Carbon Fund</string>
		</dict>
		<dict>
			<key>key</key>
			<string>3</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Fruit Gleaning Project</string>
		</dict>
		<dict>
			<key>key</key>
			<string>4</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Historically Significant Tree</string>
		</dict>
	</array>
	<key>plot_type</key>
	<array>
		<dict>
			<key>key</key>
			<string>7</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>key</key>
			<string>8</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Natural Area</string>
		</dict>
		<dict>
			<key>key</key>
			<string>1</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Well or Pit</string>
		</dict>
		<dict>
			<key>key</key>
			<string>2</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Median</string>
		</dict>
		<dict>
			<key>key</key>
			<string>3</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Tree Lawn</string>
		</dict>
		<dict>
			<key>key</key>
			<string>4</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Island</string>
		</dict>
		<dict>
			<key>key</key>
			<string>5</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Planter</string>
		</dict>
		<dict>
			<key>key</key>
			<string>6</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Open</string>
		</dict>
	</array>
	<key>powerline_conflict_potential</key>
	<array>
		<dict>
			<key>key</key>
			<string>1</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>key</key>
			<string>2</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>No</string>
		</dict>
		<dict>
			<key>key</key>
			<string>3</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Unknown</string>
		</dict>
	</array>
	<key>sidewalk_damage</key>
	<array>
		<dict>
			<key>key</key>
			<string>1</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Minor or No Damage</string>
		</dict>
		<dict>
			<key>key</key>
			<string>2</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Raised More Than 3/4 Inch</string>
		</dict>
	</array>
	<key>status</key>
	<array>
		<dict>
			<key>key</key>
			<string>1</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Height (in feet)</string>
		</dict>
		<dict>
			<key>key</key>
			<string>2</string>
			<key>type</key>
			<string>int</string>
			<key>value</key>
			<string>Diameter (in inches)</string>
		</dict>
	</array>
</dict>
</plist>
